



<div class="container">
	
	<h1 id="type">
		<ff3><big><big>
		<center><b>Сайт на реконструкции</b></center><br>
		
		<img src="/img/attention1.png" class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3  col-xs-offset-2 col-xs-6 col-sm-offset-2 col-sm-3 img-responsive pull-left" alt="!">
		<div style="text-align:right;"><p><ff2>но на самом деле хз <br>буду ли им вообще заниматься</ff2><br></div>
		
		</big></big></ff3>
		<ff3><big></big></ff3>
		<br><br><br>
	</h1>
	
	<br>
</div>

<div class="container">
  <div class="row">
        <div class="col-lg-6" id="anykeyadmininfo">
		    <div class="well clearfix">
			<div class="clearfix">
					<h1><small></small>пока ещё работает сайт<b> <a href="http://anykeyadmin.info/s?d=p">anykeyadmin.info</a></b></h1>
					<a href="http://anykeyadmin.info/?main"><img src="/img/anykeyadmin.info.png" class="col-lg-6 col-md-6 col-xs-12 col-sm-6 img-responsive0 pull-right0" alt="картинка с сайта anykeyadmin.info"></a>
					
		
					<h3>
						<br><br>
					    <b><a href="http://anykeyadmin.info/s?d=a"><big class="text-warning">посмотреть</big></a>
					</h3>
			</div>
		    </div>
        </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row">
          <div class="col-lg-6" id="ustanovka_oc">
	    <div class="well clearfix">
		<img src="/img/comp2.png" class="col-lg-6 col-md-6 col-xs-12 col-sm-6 img-responsive" alt="установка или переустановка операционной системы">
		<h1><b>Установка</b>-<b>пере</b>установка</h1>
		<h2>Операционной Системы</h2>
		<h3></h3>
              	<h4>драйверов и стандартного софт набора</h4>
		<h3>за <big>все</big> 
		    &nbsp;<b><big class="text-warning"><big>7</big>00&nbsp;</big> рублей</big></b>
		</h3>
		<a href="#zvonite" class="btn btn-primary btn-lg">звоните</a>
	    </div>
          </div>
          <div class="col-lg-6" id="remont_noutbuka">
	    <div class="well clearfix">
		<img src="/img/comp.png" class="col-lg-6 col-md-6 col-xs-12 col-sm-6 img-responsive pull-right" alt="ремонт ноутбуков">
		<h1><b>Чистка-ремонт ноутбуков</b></h1>
		<h3>замена термопасты/матрицы</h3>
		<h3><big>все</big> это 
		    <big></big> &nbsp;<b><big class="text-warning"><big>7</big>00&nbsp;</big> рублей</big></b>
		    <br>
		</h3>
		<big><big>&nbsp;&nbsp;+ цена запчастей</big></big>
		<div class1="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<a href="#zvonite" class="btn btn-primary btn-lg pull-right">звоните</a>
		</div>
	    </div>
          </div>
  </div>
    
  <div class="row">
          <div class="col-lg-6" id="remont_monitora">
	    <div class="well clearfix">
		<img src="/img/monitor.png" class="col-lg-6 col-md-6 col-xs-12 col-sm-6 img-responsive" alt="ремонт мониторов">
		<h1><b>Ремонт мониторов</b></h1>
		<h3>старый добрый монитор перестал включаться?</h3>
		<h3>приносите, - мы вернем его к жизни <small>(перед звонком проверьте все кабели и попробуйте подключить к другому устройству)</small></h3>
		<h2><big class="text-danger">всего</big>
		    <big>за</big> &nbsp;<b><big class="text-warning"><big>7</big>00&nbsp;</big> рублей</big></b>
		</h2>
		<a href="#zvonite" class="btn btn-primary btn-lg ">звоните</a>
	    </div>
          </div>
          <div class="col-lg-6" id="zapravka_cartridja">
	    <div class="well clearfix">
		<div class="clearfix">
			<img src="/img/cart.png" class="col-lg-6 col-md-6 col-xs-12 col-sm-6 img-responsive pull-right" alt="заправка картриджей">
			<h1><b>Заправка картриджей</b></h1>
			<h3>бледно и/или плохо печатает принтер?</h3>
			<h3><a href="#zvonite" class="">звоните</a>, - мы все исправим
			    в течении 2-4 часов
			</h3>
			<h2>
			    <big class="text-danger">всего</big>
			    <big></big> &nbsp;<b><big class="text-warning"><big>4</big>00&nbsp;</big> рублей </big></b><small>с учетом тонера</small>
			</h2>
			
		</div>
		<a href="#zvonite" class="btn btn-primary btn-lg pull-right">звоните</a>
	    </div>
          </div>
  </div>
  
  <div class="row">
        <div class="col-lg-6" id="sozdanie_sayta">
	    <div class="well clearfix">
		<div class="clearfix">
			<img src="/img/site.png" class="col-lg-6 col-md-6 col-xs-12 col-sm-6 img-responsive pull-right" alt="создание и хостинг сайта">
			<h1><b>Создание сайта</b></h1>
			<h3>нужен сайт-визитка, интернет магазин или просто размещение рекламы, информации о продукте и/или организации
			</h3>
			<h3><b>Легко!</b>  создание, хостинг, администрирование
			<br><a href="#zvonite">звоните</a></h3>
			<h3>
			    <b><big class="text-warning">цена договорная</big>
			</h3>
		</div>
		<a href="#zvonite" class="btn btn-primary btn-lg pull-right">пишите</a>
	    </div>
        </div>
  </div>

</div>


<div class="jumbotron" id="zvonite">
  <h1>Звоните<small><small>, дайте дозвон или <a href="/messages#new" class="btn btn-lg btn-primary"><big>пишите</big></a> и вам перезвонят</small></small></h1>
  <h2><u>перед</u> звонком обязательно узнайте модель вашего ноутбука, монитора или принтера/картриджа</h2>
  <br>
  <h3> <i><b> <big> +7 912-131-00-00 </big></b></i><small>(мтс город Инта)</small></h3>
  <br><br><br>
</div>
-->